<div class='container'>
  <h4 class='display-6 mb-5 text-center'>
        {{ authService.user_id }}
      </h4> 
      <button class="go-to-button" nz-button nzType="primary" nzShape="round" routerLink="/addrequest">Go to request page</button>
      <h4 class='display-6 mb4'>
        <br />
        Active Connections
      </h4> 
      <nz-table #activeTable [nzData]="activeConnections">
      <thead>
        <tr>
          <th>Client ID</th>
          <th>License Key</th>
          <th>License Expiration Time (Minutes)</th>
          <th>Server ID</th>
          <th>Clients Capacity</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of activeTable.data">
          <td>{{ data.client_id }}</td>
          <td>{{ data.license_key }}</td>
          <td>{{ data.license_expiration_time }}</td>
          <td>{{ data.server_id }}</td>
          <td>{{ data.clients_capacity }}</td>
          <td>{{ data.location }}</td>
        </tr>
      </tbody>
    </nz-table>

    <h4 class='display-6 mb4'>
        <br />
        Panding Connections
      </h4> 
      <nz-table #pandingTable [nzData]="pandingConnections">
      <thead>
        <tr>
          <th>Client ID</th>
          <th>License Key</th>
          <th>License Expiration Time (Minutes)</th>
          <th>Server ID</th>
          <th>Clients Capacity</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of pandingTable.data">
          <td>{{ data.client_id }}</td>
          <td>{{ data.license_key }}</td>
          <td>{{ data.license_expiration_time }}</td>
          <td>-</td>
          <td>-</td>
          <td>{{ data.location }}</td>
        </tr>
      </tbody>
    </nz-table>
    
    <h4 class='display-6 mb4'>
        <br />
        Expired Connections
      </h4> 
      <nz-table #expireTable [nzData]="expiredConnections">
      <thead>
        <tr>
          <th>Client ID</th>
          <th>License Key</th>
          <th>License Expiration Time (Minutes)</th>
          <th>Server ID</th>
          <th>Clients Capacity</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of expireTable.data">
          <td>{{ data.client_id }}</td>
          <td>{{ data.license_key }}</td>
          <td>{{ data.license_expiration_time }}</td>
          <td>-</td>
          <td>-</td>
          <td>{{ data.location }}</td>
        </tr>
      </tbody>
    </nz-table>

    <h4 class='display-6 mb4'>
        <br />
        Developer Tools
      </h4> 
      <button nz-button nzType="primary" (click)="resetAll()">Reset</button>
    <br>
</div>

<br>